<launch>
<include ns="drone1" file="$(find swarm_sitl_launcher)/launch/posix_sitl.launch" >
</include>
<include ns="drone1" file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557" />
</include>
<include ns="drone1" file="$(find onboard_statemachine)/launch/local.launch" />
<include ns="drone1" file="$(find simulated_local_position)/launch/single_drone.launch" />
</launch>
