<launch>
<include ns="drone1" file="$(find swarm_sitl_launcher)/launch/posix_sitl.launch" >
</include>
<include ns="drone1" file="$(find swarm_sitl_launcher)/launch/px4_sitl.launch">
</include>
<include ns="drone1" file="$(find onboard_statemachine)/launch/local.launch" />
<include ns="drone1" file="$(find simulated_local_position)/launch/single_drone.launch" />
</launch>
